* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #fff;
}
p {
    line-height: 40px;
    font-size: 17px;
}
.top-row {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.top-row:after {
    clear: both;
    content: "";
    display: table;
}
#site-title {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
}
nav {
    float: right;
    padding-top: 30px;
}
nav a {
    color: #000;
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}
nav a:hover {
    color: #FB2056;
}
.hero {
    background-image: url(images/office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
    text-align: center;
}
.hero h1 {
    padding-top: 300px;
    padding-bottom: 20px;
    font-size: 60px;
}
.hero a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: #FB2056;
    padding: 13px;
    border-radius: 4px;
}
.hero a:hover {
    opacity: 0.8;
}
h1 {
    margin-bottom: 0;
    padding-top: 10px;
}
h3 {
    color: #fb2056;
}
.underline {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #fb2056;
    width: 10%;
    min-width: 80px;
    margin-bottom: 30px;
}
#about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.about-column {
    width: 50%;
    float: left;
}
.about-column img {
    width: 60%;
    padding-top: 20px;
    float: right;
}
#about:after {
    clear: both;
    display: table;
    content: "";
}
.section-wrapper {
    background-color: #444152;
}
#services {
    color: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
#services h2 {
    margin-top: 0;
}
#services p {
    line-height: inherit;
}
#services-image {
    width: 100%;
}
.services-column {
    padding: 10px;
    width: 33.33%;
    float: left;
    text-align: center;
}
#services:after {
    clear: both;
    display: table;
    content: "";
}
#contact {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
#contact:after {
    clear: both;
    display: table;
    content: "";
}
.contact-column {
    width: 50%;
    float: left;
}
#map {
    width: 100%;
}
footer {
    background-color: #444152;
    text-align: center;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
}