<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <title>Template 4</title>
        <style>
        </style>
    </head>
    <body>
        
        <header>
            <h1>Header</h1>
        </header>
        
        <main>
            <div class="featured">
                <h1 class="section-title">Featured</h1>
                <p class="featured-text">This is featured text that explains a bit more in depth about the organization, what it does, who it is for, and what it can do for the customer.</p>
                <div style="text-align: center;">
                    <button>Get In Touch!</button>
                </div>
            </div>

            <div class="recent">
                <h1 class="section-title">Recent Work</h1>
                <div class="gallery-row">
                    <div class="gallery-column">
                        <img src="img/tech.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/nature.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/arch.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/animals.jpg" alt="">
                    </div>
                </div>
                <div class="gallery-row">
                    <div class="gallery-column">
                        <img src="img/animals.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/arch.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/nature.jpg" alt="">
                    </div>
                    <div class="gallery-column">
                        <img src="img/tech.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <h1 class="section-title">Testimonials</h1>
                <div class="test-row">
                    <div class="test-column">
                        <p><span class="quote-mark">"</span>This is text that is a testimonial from a successful custoemr interaction. It can be used to promote the value that a company is able to give to it's client base.<span class="quote-mark">"</span></p>
                        <img src="img/peoplesmall.jpg" alt="">
                        <h2>- Name</h2>
                        <p>CFO of Business Company</p>
                    </div>
                    <div class="test-column">
                        <p><span class="quote-mark">"</span>This is text that is a testimonial from a successful custoemr interaction. It can be used to promote the value that a company is able to give to it's client base.<span class="quote-mark">"</span></p>
                        <img src="img/peoplesmall.jpg" alt="">
                        <h2>- Name</h2>
                        <p>CFO of Business Company</p>
                    </div>
                    <div class="test-column">
                        <p><span class="quote-mark">"</span>This is text that is a testimonial from a successful custoemr interaction. It can be used to promote the value that a company is able to give to it's client base.<span class="quote-mark">"</span></p>
                        <img src="img/peoplesmall.jpg" alt="">
                        <h2>- Name</h2>
                        <p>CFO of Business Company</p>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <div class="footer-wrap">
                <h1>Footer</h1>
                <p>Text</p>
            </div>
        </footer>
        
    </body>
</html>