* {
    font-family: sans-serif;
}
body {
    margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

main {
    
    width: 60%;
    /*min-height: 850px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
button {
    padding: 20px;
    border-radius: 4px;
    font-size: 30px;
    border-style: none;
    background-color: #333;
    color: white;
    font-weight: bold;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
#copyright {
    text-align: center;
}
#hide, #show {
    display: none;
    cursor: pointer;
}
/*Mobile Nagigation*/
@media only screen and (max-width: 970px) {
    li {
        float: none;
    }
    #hide, #show {
        display: inherit;
    }
}