<!DOCTYPE html>
<html>
    <head>
        <title>Template Three</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div class="top-row">
            <h1 id="site-title">Single Page Site</h1>
            <nav>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
            </nav>
        </div>
        <div class="hero">
                <h1>This is our company.</h1>
                <a href="#contact">Contact Us</a>
        </div>
        <div id="about">
            <div class="about-column">
                <h1>About</h1>
                <div class="underline"></div>
                <h2>Here is some text</h2>
                <h3>And here is why we are the best</h3>
                <p>Lorem ipsum dolor set amat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="about-column">
                <img src="https://placeimg.com/300/400/tech">
            </div>
        </div>
        <div class="section-wrapper">
            <div id="services">
                <h1>Services</h1>
                <div class="underline"></div>
                <div class="services-column">
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 1</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 2</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 3</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                </div>
                <div class="services-column">
                    <img id="services-image" src="images/paris.jpg">
                </div>
                <div class="services-column">
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 3</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 4</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                    <img style="border-radius: 100px;" src="https://placeimg.com/100/100/tech/grayscale">
                    <h2>Service 5</h2>
                    <p>This is text that explains a product or service. Lorem ipsum dolor sed amat</p>
                </div>
            </div>
        </div>
        <div id="contact">
            <h1>Contact</h1>
            <div class="underline"></div>
            <div class="contact-column" style="padding-top: 20px;">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.126963167523!2d-81.56606804907047!3d28.385232982430246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7ee634caa5f7%3A0xa71e391fd01cf1a0!2sWalt+Disney+World+Resort!5e0!3m2!1sen!2sus!4v1554131639262!5m2!1sen!2sus" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="contact-column" style="text-align: center;">
                <h2>Location</h2>
                <p>5555 Street Dr. Citytown, CA</p>
                <h2>Phone:</h2>
                <p>555-555-5555</p>
                <h2>Follow Us:</h2>
                <p>Social Media Icons</p>
            </div>
        </div>
        <footer>
            <p>Footer &copy; 2019</p>
        </footer>
    </body>
</html>