* {
    font-family: sans-serif;
}
body {
    margin: 0;
    background-image: url(../img/abstract.jpg);
    background-color: #161616;
    color: white;
    box-sizing: border-box;
    
}
h1, h2 {
    color: #A389FF;
}
p {
    line-height: 27px;
    font-size: 17px;
}
header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.site-identity {
    padding-top: 10px;
    width: 50%;
}
#site-logo {
    float: left;
    padding-right: 20px;
    max-width: 50px;
}
#site-title {
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
}
nav {
    width: 50%;
    float: left;
    text-align: right;
}
nav ul {
    padding-left: 0;
}
nav ul li {
    list-style: none;
    display: inline;
}
nav ul li a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
    color: white;
}
a:hover {
    opacity: 0.6;
}
.slideshow {
    width: 70%;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#tagline {
    float: left;
}

#contactButton {
    margin-top: 25px;
    float: right;
    border-radius: 4px;
    border-style: none;
    padding: 15px;
    font-size: 20px;
    background-color: #F2DA00;
}
#contactButton:hover {
    cursor: pointer;
    opacity: 0.6;
}
#slideImage {
    width: 100%;
}
.gallery {
    padding-bottom: 100px;
}
.contact {
    padding-bottom: 100px;
}
input {
    height: 25px;
    width: 90%;
    border-radius: 4px;
}
textarea {
    min-height: 100px;
    width: 90%;
    border-radius: 4px;
}

.contact {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
form {
    background-color: black;
    padding: 20px;
    border-radius: 4px;
}
#contactSubmit {
    margin-top: 25px;
    border-radius: 4px;
    border-style: none;
    padding: 10px;
    font-size: 20px;
    background-color: #F2DA00;
    height: inherit;
    width: inherit;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 1350px) {
    #site-title {
        font-size: 40px;
        margin-top: 0;
    }
    #contactButton, #tagline {
        float: none;
    }
    .intro-row {
        text-align: center;
    }
}
@media only screen and (max-width: 970px) {
    #site-title, #site-logo, nav {
        float: none;
        text-align: center;
    }
    #site-logo {
        max-width: 100px;
    }
    .site-identity {
        text-align: center;
        width: 100%;
    }
    nav {
        width: 100%;
    }
    #first-link {
        padding-left: 0;
    }
    .slideshow {
        width: 95%;
    }
}