<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body>
        
        <header>
            <h2>BLOGPOST SITE DOT COM</h2>
            <nav>
            </nav>
        </header>
        
        <main>
            <h1>This is main content</h1>
            <p>Sub content can go here, which is useful for explaining the overall message to people.</p>
            <div class="test"></div>
        </main>
        
        <footer>
            <h3>This is a footer</h3>
        </footer>
        
        <script src="scripts/script.js"></script>
    </body>
</html>