<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Business Name Here</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body>
        <div class="contact-info">
            <span>123 Place St. City NY</span>
            <span>(555) 555-5555</span>
            <span>example@email.com</span>
            <span>Mon - Fri, 10am - 5pm</span>
        </div>
        <div>
            <h1>Your Business</h1>
        </div>
        <div class="hero-image">
            <img src="https://placeimg.com/640/480/any/grayscale">
        </div>
        <main>
            <h1>Main Content</h1>
            <p>Main content goes here.</p>
        </main>
        <div class="footer">
            <p>Created by Ryan Hazell</p>
        </div>
    </body>
</html>